.conteiner .insta img{
    margin: 10px 80px 0 305px;
    animation-name: y;
    background-color: transparent;
    border-radius: 15px;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    height: 60px;
    width: 60px;
    animation-duration: 6s;
    animation-delay: 4s;
    animation-iteration-count: 100;
    background-image: url("../obrazky/insta.png")
}
@keyframes y{
    0%{opacity: 0%}
    50%{opacity: 100%}
    100%{opacity: 0%}
}
@keyframes n{
    0%{opacity: 100%}
    50%{opacity: 0%}
    100%{opacity: 100%}
}


@keyframes gradient {
    0%{background-position: 0% 50%}
    50%{background-position: 100% 50%}
    100%{background-position:0% 50% }
}
.loga{
    z-index: 0;
    position: absolute;
    flex-direction: row;
    display: flex;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-top: 600px;
}
.conteiner .facebook img {
    margin: 10px 80px 0 58px;
    animation-name: n;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    height: 60px;
    width: 60px;
    animation-duration: 6s;
    animation-delay: 4s;
    animation-iteration-count: 100;
    background-image: url("../obrazky/fb.png");
}
.conteiner .twitter img {
    margin: 10px 80px 0 58px;
    animation-name: y;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    height: 60px;
    width: 60px;
    animation-duration: 6s;
    animation-delay: 4s;
    animation-iteration-count: 100;

}
.conteiner .youtube img {
    margin: 10px 80px 0 58px;
    animation-name: n;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    height: 60px;
    width: 80px;
    animation-duration: 6s;
    animation-delay: 4s;
    animation-iteration-count: 100;

}
.conteiner .tiktok img {
    margin: 10px 80px 0 58px;
    animation-name: y;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px,
    rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
    height: 70px;
    width: 70px;
    animation-duration: 6s;
    animation-delay: 4s;
    animation-iteration-count: 100;


}


