
body{
    padding: 0;
    margin: 0;
}
 .staci-menu{
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    top: 0;
    background-image: url("../obrazky/cool-background.png");
     background-size: 800px;
    color: black;
    width: 100%;

    z-index: 5;
     border-radius: 15px;
     border: 2px solid black;

}
nav ul{
    margin: 0;
    height: 100%;
    align-items: center;
    list-style-type: none;
    display: flex;
}
nav ul li{
    padding: 0 25px ;
    margin: 0 5px;
    font-size: 1em;
    line-height: 4.4em;
}
nav ul h1{
    font-family: "OpenSansCondensed-Bold";
    color: black;
    padding: 8px 0;
    text-decoration:  none;
    text-transform:  uppercase;
}
nav ul a:hover{
    border-bottom: 2px solid;
}
#logo{
    padding-top: 5px;
    font-size: 15px;
    font-family: "OpenSansCondensed-Bold";
}
nav ul a {
    color: transparent;
}


