.podpisy{
    margin-left:40% ;
    text-transform: uppercase;
    color: white;

}


.conteiner{

    justify-content: center;
    align-items: center;
    z-index: 0;
    flex-direction: column;
    display: flex;
    align-content: center;
    width: 100%;
    height: 100%;

}
.content{
    z-index: 2;
    display: flex;
    flex-direction: row;
    margin-top: 320px ;
    border-radius: 15px;
    border: 2px solid white;
    align-items: center;
    margin-bottom: 400px;
    margin-left: 50px;
    margin-right: 50px;

}
.blog img{
    opacity: 0%;
    z-index: 2;
    width: 100%;
    height: 100%;
}
section img{
    width: 200px;
    height: 150px;
}
section p{
    text-align: justify;
}

.omnenadpis h1{
    z-index: 3;
}

body{
    padding: 0;
    margin: 0;
    background-image: url("../obrazky/pozadi.png");
    background-size:1500px;
    padding-bottom: 150px;
    background-repeat: no-repeat;

}
.content2{
    padding-left:10px;
    padding-top: 50px;
}
.omne a{
    text-transform: uppercase;
    text-decoration: none;
}
.blog1{
    background-image: url("../obrazky/DJF09355.jpg");
    background-size: 450px;


}
.blog1{
    z-index: 1;
    flex: 1;
    margin: 35px 5px;
    color: white;
    background-color: black;
    box-shadow: 5px 5px white;
    border-radius: 25px;
    border: 2px solid white;
    transition: width 2s, height 4s;
}
.blog1 img{
    opacity: 0%;
    z-index: 2;
    width: 400px;
    height: 210px;
}
.blog1 h1{
    border-bottom: 1px solid white;
}
.blog2{
    background-image: url("../obrazky/kola.png");
    background-size: 450px;


}
.blog2{
    z-index: 1;
    flex: 1;
    margin: 35px 5px;
    color: white;
    background-color: black;
    box-shadow: 5px 5px white;
    border-radius: 25px;
    border: 2px solid white;
    transition: width 2s, height 4s;
}
.blog2 img{
    opacity: 0%;
    z-index: 2;
    width: 400px;
    height: 210px;
}
.blog2 h1{
    border-bottom: 1px solid white;
}
.blog3{
    background-image: url("../obrazky/fotogalerie.jpg");
    background-size: 500px;


}
.blog3{

    z-index: 1;
    flex: 1;
    margin: 35px 5px;
    color: white;
    background-color: black;
    box-shadow: 5px 5px white;
    border-radius: 25px;
    border: 2px solid white;
    transition: width 2s, height 4s;
}
.blog3 img{
    opacity: 0%;
    z-index: 2;
    width: 400px;
    height: 210px;
}
.blog3 h1{
    border-bottom: 1px solid white;
}

@media screen and (max-width: 705px){
    .content {
        flex-direction: column;
    } }
@media screen and (max-width: 705px){
    .conteiner {
        background-color: gray;
    } }
@media screen and (max-width: 705px){
    .loga{
        opacity: 0%;
    } }
@media screen and (min-width:705px){
    .zabalovaci-menu{
        opacity: 0%;
    }
}
@media screen and (max-width:705px){
    .staci-menu{
        opacity: 0%;
    }
}
@media screen and (min-width: 1500px){
    body{
        background-size: 1900px;
        padding-bottom: 1000px;
    }
}
@media screen and (min-width: 1500px){
    .content{
        margin-bottom: 650px;
    }
}
.blog1:hover {
    transform: scale(1.5) ;
    z-index: 6;
}
.blog2:hover {
    transform: scale(1.5);
    z-index: 6;
}
.blog3:hover {
    transform: scale(1.5);
    z-index: 6;
}
